{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
<title>Davixxa.net | {%block title %} 404 Page Not Found{% endblock %}</title>
</head>
<body>

    {% block content %}
    <h1>404 Not Found</h1>
    <p>We're sorry, but we couldn't find your page.</p>
    {% endblock %}

</body>
</html>