{% extends 'base.html' %}

{% block title %} Home {% endblock %}



{% block content %}
            <div class="ui container">

                <div class="ui grid">
                    <div class="row">
                        <div class="sixteen wide column">
                            <div class="ui fluid message">
                                <span class="ui huge header">Davixxa's Spot</span><br>
                                <span class="ui sub header">Ramblings of a lazy weeb tech enthusiast.</span>
                                <form method='GET' action="{% url 'search:search' %}">
                                        <input id="search-input" type='text' class="field" name='q' placeholder='Search' value='{{ request.GET.q }}' />
                                        <button class="btn" type="submit">Search</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="sixteen wide column">
                            <h2 class="">Recent Posts:</h2>
                            <div class="ui divider"></div>
                        </div>
                    </div>

                
                    <div class="row">

                    <div class="ui three cards">
                    
                        {% for post in query_set %}
                        
                        <div class="ui link fluid card">
                        
                            <div class="image">
                                <img onclick="window.location='{{ post.get_absolute_url }}'" src="{{ post.image }}" alt="">
                            </div>
                            <div class="content">
                                <span class="header"><h3>{{ post.title }}</h3></span>
                                <div class="meta">
                                    <span class="date">{{ post.timestamp }} </span>
                                </div>
                                <div class="extra content">
                                        <a class="author">
                                        <i class="user icon"></i>
                                        {{ post.author }}
                                        </a>
                                    </div>
                                <br>
                                <div class="description"><a href="{{ post.get_absolute_url }}"><h4><i class="angle right icon"></i> Read the post. </h4></a></div>
                                
                            </div>
                        </div>
                        
                        <!--<a href="{% url 'posts:detail' slug=post.slug %}"><h1>{{post.title}}</h1></a>-->
                {% endfor %}
                    </div>
                </div>
            </div>
    
{% endblock %}