{% extends 'base.html' %}

{% block title %} Projects {% endblock %}

{% block content %}
<h1>Projects</h1>


    {% for project in projects %}

        {{ project.name }} <br>


    {% endfor %}

    <div class="pagination">

        <span class="step-links">

            {% if projects.has_previous %}
                <a href="?page={{ projects.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ projects.number }} of {{ projects.num_pages }}.
            </span>

            {% if projects.has_next %}
                <a href="?page= {{ projects.next_page_number }}">Next</a>
            {% endif %}


        </span>


    </div>

{% endblock %}