{% extends 'base.html' %}

{% block title %} Search {{ request.GET.q }} {% endblock %}

{% block content %}

<form method='GET' action="{% url 'search:search' %}">
        <div class="ui icon input">
            <input id="search-input" type='text' class="field" name='q' placeholder='Search' value='{{ request.GET.q }}' />
            <i class="search icon"></i>
        </div>
        
         <button class="ui grey button" type="submit">Search</button>

    </form>

{% for post in queryset %}
<p>{{post.title}}</p>
{% endfor %}
{% endblock %}