{% extends 'base.html' %}

{% block title %} Search {{ request.GET.q }} {% endblock %}

{% block content %}


<div class="ui container">
    <div class="ui grid">
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui fluid message">
                    <div class="ui huge header">Search:</div><br>
                    <form method='GET' action="{% url 'search:search' %}">
                        <div class="ui icon input">
                            <input id="search-input" type='text' class="field" name='q' placeholder='Search' value='{{ request.GET.q }}' />
                            <i class="search icon"></i>
                        </div>
                        <button class="ui grey button" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>

        {% if request.GET.q %}
        <h1>Search Results:</h1>
        {% endif %}
        <br>


        <div class="row">
            <div class="ui two cards">
                {% for post in queryset %}
                    <div class="ui link fluid card davcard"> 
                        <div class="image">
                            <img onclick="window.location='{{ post.get_absolute_url }}'" src="{{ post.image }}" alt="">
                        </div>
                        <div class="content">
                            <span class="header"><h3>{{ post.title }}</h3></span>
                            <div class="meta">
                                <span class="date">{{ post.timestamp }} </span>
                            </div>
                            <div class="extra content">
                                    <a class="author">
                                    <i class="user icon"></i>
                                    {{ post.user.get_username }} 
                                    </a>
                                </div>
                            <br>
                            <div class="description"><a href="{{ post.get_absolute_url }}"><h4><i class="angle right icon"></i> Read more. </h4></a></div>  
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
    </div>
</div>
{% endblock %}